@model Ticaret.Models.Musteriler

@{
    ViewBag.Title = "Delete";
}


<div style="text-align: center;">
    <h3 style="color: red;">Hesabını Kalıcı Olarak Silmek İstediğine Emin Misin?</h3>

    <div>
        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color" style="display: inline-block; text-align: center;">
        <button type="submit" class="btn btn-danger">
            Sil <i class="fa fa-trash"></i>
        </button>

        <a href="@Url.Action("Hesabım", "Home")" class="btn btn-secondary">
            Geri Dön <i class="fa fa-backward"></i>
        </a>
    </div>
        }
    </div>
</div>
