
@{
    ViewBag.Title = "SiparisTamamlandi";
}

<div class="text-center">

    <h2>Siparişiniz başarıyla tamamlandı!</h2>
    <p>Sipariş detaylarınız ve ödeme bilgileriniz başarıyla kaydedildi.</p>


    <div class="text-center">
        @Html.ActionLink("Siparişlerim Sayfasına Git", "Index1", "Siparisler", null, new { @class = "btn btn-primary" })
    </div>

</div>

