@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz Admin </h1>

    <a href="@Url.Action("LogOut", "Admin")" class="btn btn-danger">Çıkış Yap</a>


</div>