@{
    ViewBag.Title = "İletişim";
}


<h3 class="text-dark">İletişim Bilgileri</h3>
<p><strong>Adres:</strong> Çiçek Sokak No:10, Beyoğlu, 34430 İstanbul, Türkiye</p>
<p><strong>Telefon:</strong> +90 (123) 456 7890</p>
<p><strong>E-posta:</strong> infotrendsepet@gmail.com</p>




<h3 class="text-dark">Bizi Sosyal Medyada Takip Edin</h3>
<ul>
    <li><a href="https://facebook.com/example" target="_blank">Facebook</a></li>
    <li><a href="https://twitter.com/example" target="_blank">Twitter</a></li>
    <li><a href="https://instagram.com/example" target="_blank">Instagram</a></li>
</ul>
